body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f9f7d9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hover-effect:hover{
  opacity: 0.75;
}

.bg-yellow{
  background: #ffd36b;
  transition-duration: 0.5s;
}

.rounded-border{
  border-radius: 10px;
}

.left-margin{
  border-left-style: solid;
  border-left-width: 2px;
}